.posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}


.homeSubtitle{
    margin: 1rem 2.5rem;
}

.best_films{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.best_films > h1{
    font-size: clamp(30px,5vw,50px);
    font-weight: bolder;
    text-shadow: rgb(209, 206, 194) 1px 0 10px;
}

.best_films > h2{
    font-style: italic;
    padding: 0 10px;
}


.home_search{
    outline: none;
    border: none;
    padding: 11px 8px;
    width: 250px;
    font-size: 18px;
    color:white;
    background-color: transparent;
}


.home_input{
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-bottom:1px solid white;
    padding: 0 0 3px 0;
}




.top_films{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.top_films > h1{
    margin-bottom: 20px;
    font-weight: bolder;
}

